<h2 mat-dialog-title>Enter a New Password</h2>
<mat-dialog-content>
  <h3>Hello, {{data.email}}</h3>
  <p>As a first time user, you must reset your password. Please reset below.
  </p>
  <br>
  <mat-form-field>
  <mat-label>Enter a new password:</mat-label>
  <input matInput [(ngModel)]="newPassword" name="newPassword" type="password">
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
  <mat-label>Confirm new password:</mat-label>
  <input matInput [(ngModel)]="confirmNewPassword" name="confirmNewPassword" type="password">
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <p *ngIf="!match" style="color:red">Passwords do not match!</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="submit()" mat-raised-button color="accent">Submit</button>
</mat-dialog-actions>
