@import url(https://fonts.googleapis.com/css?family=Raleway);

*{
  font-family: 'Raleway', sans-serif;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar{
  /*position: sticky;*/
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

}

#logo{
  position: absolute;
  top: 12px;
  height: 5%;
}

#logo2{
  position: absolute;
  margin-left: 90px;
  top: 25px;
  height: 2.5%;
}

span.user{
  left: 250px;
  top: 20px;
  position: absolute;
}

h1{
  color: #01008C;
  font-family: 'Raleway', sans-serif;
}

.logout{

  font-weight: 900;
  margin-right: 10px;

}

span.est-time{
  margin-right: 30px;
  top: 25px;
  font-size: 20px;
}

span.app-info{
  margin-right: 35px;
  top: 25px;
  font-size: 20px;
}

@media (max-width: 1180px){
  .user{
    display: none;
  }
}

@media (max-width: 768px){
  .app-info, .est-time{
    display: none;
  }
}

@media (max-width: 500px){
  #logo{
    top: 8px;
  }
}






