<mat-toolbar color="primary">

    <span><img id="logo" src="../assets/LTI_Lets_solve_logo_white_png.png" alt="LTI"></span>
  <span><img id="logo2" src="../assets/LTI_Lets_solve_logo_white_png%202.png" alt="Lets Solve"></span>



  <button color="accent" class="logout" mat-raised-button (click)="logout2()">Logout</button>
  <span class="est-time">{{ time | date: 'hh:mm:ss a' }} {{' EST'}}</span>
  <span class="app-info">Task App: beta v1.0</span>
  <span class="user">Welcome, Sharjeel.Chaudhry@lntinfotech.com </span>





</mat-toolbar>

<router-outlet></router-outlet>

