@import url(https://fonts.googleapis.com/css?family=Raleway);

*{
  font-family: 'Raleway', sans-serif;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar{
  /*position: sticky;*/
  top: 0;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

}

#logo{
  margin-top: 10px;
  height: 65%;
  float:left;
}

#logo2{
  margin-top: 20px;
  position: absolute;
  float:left;
  padding-left: 15px;
  height: 3%;
}

span.user{
  float: right;
  margin-right: 27%;
  margin-top: 18px;
  margin-left: 20px;

}

h1{
  color: #01008C;
  font-family: 'Raleway', sans-serif;
}

.logout{
  float: right;
  margin-top: 15px;
  font-weight: 900;
  margin-right: 10px;

}

span.est-time{
  float: right;
  margin-right: 30px;
  margin-top: 18px;
  font-size: 20px;
}

span.app-info{
  float: right;
  margin-right: 35px;
  margin-top: 18px;
  font-size: 20px;
}




