<div *ngIf="showSpinner" class="spinner-container">
  <mat-spinner  color="accent"></mat-spinner>
</div>

<div class="flex-container">

  <div class="flex-child">
    <h1 style="font-weight: bold">{{data.task.task}}</h1>
    <h3 class="low-header" style="font-weight: bold">{{'Created by: ' + data.task.userid}}</h3>
  </div>

  <div class="spacer"></div>

  <div class="flex-child">
   <h3 style="font-weight: bold">Last Updated : {{data.task.taskdate}}</h3>
   <h3 class="low-header" style="font-weight: bold">{{'Progress: ' + data.task.progress}}</h3>
  </div>

</div>

<h3>{{data.task.details}}</h3>

<hr class="main-hr">
<br><br>

<div *ngIf="subTasks.length != 0">
  <div *ngFor="let subtask of subTasks; let last = last; let i = index">

    <div class="flex-container">
      <h2 style="width:500px" class="flex-child">{{subtask.subtask}}</h2>
      <span class="spacer"></span>
      <h3 class="flex-child">{{subtask.taskdate}}</h3>
    </div>

    <div class="flex-container">
      <h3 class="low-header flex-child" style="font-weight: bold">{{'Contributor: ' +  subtask.userid}}</h3>
      <span class="spacer"></span>
      <h3 *ngIf="!subTasks[i].editable" class="low-header flex-child">{{subtask.progress}}</h3>
      <mat-form-field *ngIf="subTasks[i].editable" class="low-header flex-child" style="width: 40px">
        <input  matInput [(ngModel)]="subtask.progress">
      </mat-form-field>
    </div>
    <p *ngIf="!subTasks[i].editable">{{subtask.details}}</p>
<mat-form-field *ngIf="subTasks[i].editable" class="subtask-details">
  <textarea style="height: 75px" matInput [(ngModel)]="subtask.details"></textarea>
</mat-form-field>

    <div *ngIf="subTasks[i].editable == false" >
      <br>
      <button mat-raised-button color="primary" (click)="toggleEditable(i)">Edit Subtask</button>
      <br><br>
    </div>

    <div *ngIf="subTasks[i].editable == true">
      <button  mat-raised-button color="warn" (click)="toggleEditable(i)">Cancel</button>
      <button  style="margin-left: 20px" mat-raised-button color="primary" (click)="updateSubTask(i)">Update Task</button>
    </div>


    <hr *ngIf="!last" class="sub-hr">
  </div>
</div>

<div *ngIf="subTasks.length == 0">
  <p>No subtasks are currently available.</p>
</div>

<mat-dialog-actions style="float: right; margin-right: 20px">
  <button mat-raised-button color="warn" (click)="close()">Close</button>
  <button mat-raised-button color="primary" (click)="downloadSubTasks()">Download</button>

</mat-dialog-actions>


